.signup-container {
	.header {
		display: block;
		margin: 0 auto;
		h2 {
			margin: 0;
		}
		.lines {
			&:first-child {
				margin-bottom: 15px;
			}
			&:last-child {
				margin-bottom: 15px;
				margin-top: 5px;
			}
		}
		.login-providers {
			text-align: center;
			.button_to {
				display: inline-block;
				margin: 0 auto;
			}
		}
		@include clearfix();
	}
	.signup-form {
		@extend .form-horizontal;
		.form-item {
			@extend .form-group;
			.form-input {
				@extend .col-sm-8;
				float: none;
				margin: 0 auto;
			}

			// Sign up form Recaptcha
			.recaptcha-container {
				display: block;
				width: 100%;
				.g-recaptcha {
					div {
						margin: 0 auto;
						text-align: center;					
					}
					
				}

			}
			// Form errors
			.form-error {
				&.recaptcha {
					margin: 0 auto;
					text-align: center;
					width: 200px;
				}
			}		

			.form-btn {
				display: block;
				margin: 0 auto;
				text-align: center;
				width: 100;
				.btn-new-user {
					@extend .btn;
					@extend .btn-primary;
					width: $btn-size;
				}
			}
			@include clearfix();
		} // .form-item
	} // .signup-form	
}
