.sign-up-form {
	@extend .form-horizontal;
	.form-item {
		@extend .form-group;
		.form-label {
			@extend .col-sm-offset-1;
			@extend .col-sm-2;
			@extend .control-label;
		}
		.form-input {
			@extend .col-sm-6;
		}

		// Sign up form Recaptcha
		.recaptcha-container {
			display: block;
			width: 100%;
			.g-recaptcha {
				div {
					margin: 0 auto;
					text-align: center;					
				}
				
			}

		}

		// Form errors
		.form-error {
			&.recaptcha {
				margin: 0 auto;
				text-align: center;
				width: 200px;
			}
		}		

		.form-btn {
			display: block;
			margin: 0 auto;
			text-align: center;
			width: 100;
			.btn-new-user {
				@extend .btn;
				@extend .btn-primary;
				width: $btn-size;
			}
		}
		@include clearfix();
	}
}