<% provide(:title, "Forgot password") %>
<div class="password-reset-content">
	<h1>Forgot password</h1>

	<%= form_for(:password_reset, url: password_resets_path, :html => {:class => "password-reset-form"}) do |f| %>
		<div class="form-item">
			<div class="form-input">
				<%= f.email_field :email, class: "form-control", placeholder: "Email", 'aria-label': "Email", required: "required" %>
			</div>
		</div>
		
		<div class="form-item">
			<div class="recaptcha-container">
				<%= recaptcha_tags %>			
			</div>
		</div>
		
		<div class="form-item action-items">
			<div class="btn-container">
				<%= f.submit "Submit", class: "submit-btn" %>
			</div>
		</div>
		
	<%end %>	
</div>


