
// Colors
$light-gray: #777;
$lighter-gray: #e4e4e4;
$gray-medium-light: #eaeaea;
$red: #f00;
$white: #fff;

$facebook-login-btn: #4b70ab;
$google-login-btn: #DD4B39;
$twitter-login-btn: #3B94D9;

// Elements
$btn-size: 195px;