.password-reset-content {
	.password-reset-form {
		@extend .form-horizontal;
		.form-item {
			margin: 0 auto;
			text-align: center;
			width: 325px;
			.form-label {
				display: inline-block;
				text-align: left;
				width: 100px;
			}	
			.form-input {
				display: inline-block;
				input[type="email"] {
					width: 250px;
				}
			}

			&.action-items {
				margin-top: 10px;
				.btn-container {
					display: inline-block;
					.submit-btn {
						@extend .btn;
						@extend .btn-primary;	
						width: 100px;			
					}
				}				
			}											
		}
	}
}